<script type="text/javascript">
    $(function() {

    $('#select_origin').autocomplete({
            minLength: 1,
            source: '<%= new_foodback_path(:json) %>',
            focus: function(event, ui) {
                $('#select_origin').val(ui.item.name);
                return false;
            },
            select: function(event, ui) {
                $('#select_origin').val(ui.item.name);
        $('#link_origin_id').val(ui.item.id);
                return false;
            }
        })
        .data( "autocomplete" )._renderItem = function( ul, item ) {
            return $( "<li></li>" )
                .data( "item.autocomplete", item )
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
        };
    });
    </script>

<% provide(:title, 'New Foodback') %>
<h1>Crea un Foodback</h1>
<h2>Preparar comida es la mejor forma de dar las gracias</h2>
<div class="row">
  <div class="span6 offset3">
    
    <%= form_for(@foodback) do |f| %>
      <%= render 'shared/error_messages', object: @foodback %>

      <%= f.label :title, 'Título de tu invitación' %>
      <%= f.text_field :title, placeholder: 'Ej. "Gracias por apoyarme"' %>

      <%= f.label :invited, 'Nombre de tu invitado' %>
      <%#= f.text_field :invited %>
      <%= f.text_field :invited, id: "select_origin" %>
      <input id="link_origin_id" name="link[origin_id]" type="hidden"/>

      <%= f.label :address, 'Dirección' %>
      <%= f.text_field :address %>

      <%= f.label :content, 'Mensaje'%>
      <%= f.text_area :content, placeholder:'Cuéntanos tu historia, por qué quieres dar las gracias.'  %>

      <%= f.label :dish, 'Platillo' %>
      <%= f.text_field :dish, placeholder: 'Ej. Mole de la abuela' %>

      <%= f.label :recipe, 'Receta' %>
      <%= f.text_area :recipe, placeholder: 'Cuéntanos tu receta y no olvides decirnos por qué es especial.' %>

      <%#= f.label :cover, 'Cover' %>
      <%#= f.file_field :cover %>

      <%# f.label :date %>
      <%# f.datetime_field :date %>
      <br/>
      <%= f.submit "Crear este Foodback", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
